@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  // Primary colors
  --primary-blue: #0079ff;

  // Light mode colors
  --bluish-gray: #697c9a;
  --mid-blue: #4b6a9b;
  --dark-blue: #2b3442;
  --light-grayish-blue: #f6f8ff;
  --whitish: #fefefe;

  // Dark mode colors
  --white: #ffffff;
  --very-dark-blue: #141d2f;
  --navy-blue: #1e2a47;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-blue);
  padding: 3.1rem 2.4rem 7.9rem;
  min-height: 100vh;
  transition: padding 0.3s ease-out;

  @media screen and (min-width: 670px) {
    padding: 14.4rem 9.7rem 23.6rem;
  }
}
