.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dotted red;

  &__theme {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.8rem;

    &:hover > .header__dark {
      color: var(--dark-blue);
    }

    &:hover > .header__moon path {
      fill: var(--dark-blue);
    }
  }

  &__dark {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--mid-blue);
    transition: color 0.2s ease-in;
  }

  &__moon {
    & path {
      transition: fill 0.2s ease-in;
    }
  }
}
