.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    &--dark {
      color: var(--white);
    }
  }

  &__theme {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.8rem;

    &:hover > .header__dark {
      color: var(--dark-blue);
    }

    &:hover > .header__moon path {
      fill: var(--dark-blue);
    }

    &--dark {
      display: none;
    }
  }

  &__theme-light {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.8rem;

    &:hover > .header__light {
      color: var(--bluish-gray);
    }

    &:hover > .header__sun g {
      fill: var(--bluish-gray);
    }

    &--light {
      display: none;
    }
  }

  &__dark {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--mid-blue);
    transition: color 0.2s ease-in;
  }
  &__light {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--white);
    transition: color 0.2s ease-in;
  }

  &__moon {
    & path {
      transition: fill 0.2s ease-in;
    }
  }

  &__sun {
    & g {
      transition: fill 0.2s ease-in;
    }
  }
}
