.info {
  margin-top: 1.6rem;
  background-color: var(--whitish);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 1.5rem;
  padding: 3.2rem 2.4rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  &--dark {
    background-color: var(--navy-blue);
    box-shadow: none;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 3.3rem;

    .info__avatar {
      border-radius: 50%;
      margin-right: 1.9rem;
    }

    .info__user-info {
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .info__joined {
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: var(--bluish-gray);

        &--dark {
          color: var(--white);
        }

        @media screen and (min-width: 768px) {
          font-size: 1.5rem;
          line-height: 2.2rem;
        }
      }
      .info__user {
        margin-bottom: 0.6rem;
        .info__username {
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: var(--dark-blue);

          &--dark {
            color: var(--white);
          }

          @media screen and (min-width: 768px) {
            font-size: 2.6rem;
            line-height: 3.9rem;
          }
        }

        .info__user-handle {
          font-size: 1.3rem;
          line-height: 1.9rem;
          color: var(--primary-blue);

          @media screen and (min-width: 670px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
      }
    }
  }
}
