.info__summary {
  @media screen and (min-width: 924px) {
    margin-left: auto;
    width: 48rem;
  }

  .info__text {
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: var(--mid-blue);
    margin-bottom: 2.3rem;

    &--dark {
      color: var(--white);
    }

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 3.2rem;
    }
  }

  .info__stats {
    background-color: var(--light-grayish-blue);
    border-radius: 1rem;
    padding: 1.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    &--dark {
      background-color: var(--very-dark-blue);
    }

    @media screen and (min-width: 768px) {
      padding: 1.8rem 3.2rem;
    }
  }

  .info__titles {
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--mid-blue);

    &--dark {
      color: var(--white);
    }

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }
  }

  .info__results {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--very-dark-blue);

    &--dark {
      color: var(--white);
    }

    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
      line-height: 3.3rem;
    }
  }

  // Contact
  .info__contact {
    @media screen and (min-width: 924px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6.2rem;
    }

    .info__connect {
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    .info__icons {
      margin-right: 1.3rem;
    }

    .info__icon {
      &--dark {
        fill: var(--white);
      }
    }

    .info__links {
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: var(--mid-blue);

      &--dark {
        color: var(--white);
      }

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
    }
  }
}
